name: weather_api_project
description: A new Flutter project.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter_bloc: ^8.1.3

  flutter:
    sdk: flutter

  http: ^1.1.0
  supabase_flutter: ^1.10.14
  google_fonts: ^5.1.0
  loading_animation_widget: ^1.2.0+4

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
